<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/game/css/default.css">
    <link rel="stylesheet" href="/game/css/default.css">
    <link rel="stylesheet" href="/game/css/layout.css">
    <link rel="stylesheet" href="/game/css/media-queries.css">
    <link rel="stylesheet" href="/game/css/normalize.css">

    <title>Scavenger Hunt Leaderboard</title>
</head>
<body>
<div class="top-container">
    <h1>Question: </h1>
    <aside class="pull-quote">
        <blockquote>
            <p><%= question.question_text%></p>
        </blockquote>
    </aside>
</div>
<center><br>
    <label for="troop_number">Select your Troop:</label>
    <form action="/game/redeemQuestion" target="testing" enctype="multipart/form-data" method="post">
        <input type="hidden" id="question_id" name="question_id" value="<%=question._id%>">
        <select  name="troop_number" id="troop_number">
            <% for(var i = 0; i < troops.length; i++){%>
            <option value="<%=troops[i].troop_number %>"><%=troops[i].troop_number %></option>
            <%}%>
        </select><br>
        <input type="submit" value="Submit">
    </form>
    <iframe name="testing"></iframe>
</center>
</body>
</html>