<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/1b88120e53.js" crossorigin="anonymous"></script>        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/game/css/default.css">
        <title>Smiley Cup</title>
    </head>
    <body>
    <header>
        <i class="fas fa-chevron-left fa-2x" onclick="history.back()"></i>
        <h1>Smiley Cup</h1>
    </header>
        <div class="table-wrapper">
            <table id="troop-game">
                <tbody>
                <tr>
                    <th>Troop</th>
                    <th>Points</th>
                </tr>
                <% if(leaderboard.length === 0) {%>
                    <tr>
                        <th colspan="3">
                            <center>
                                <h2 style="color: black">No Troops Registered</h2>
                            </center>
                        </th>
                    </tr>
                <%}%>
                <% for(var i = 0; i < leaderboard.length; i++) { %>
                    <tr>
                        <td><a><%= leaderboard[i].troop_number %></a></td>
                        <td><%= leaderboard[i].points %></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    <footer></footer>
    </body>
</html>